@media (max-width:425px){
    .section-title h2{
        font-size: 27px;
    }
    
}
@media (max-width:375px){
    
    .section-title.style--three .subtitle2 {
       font-size: 17px;
    }
    .btn.style1{
        padding: 14px 23px;
}
}
