@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
body {
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(28 / 16);
    color: #414141;
    text-align: left;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden!important;
}
html{
    scroll-behavior: smooth;
}

.sticky{
    border-radius: 0!important;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    background-color: #fff;
    z-index: 12;
    box-shadow: 0 0 10px 0 #bb17f870;
    margin-top: 0;
    transition: 0.3s ease-in;
}
.extra{
    height: 200vh;
}
.navbar-brand{
    transition: 2s ease-in;
}
.navbar-brand img{
    width: 160px;
    transition: 1s ease-in;
    margin-bottom: 7px;
}

.body-wrapper .header-main {
    margin-top: 27px;
    background-color: transparent;
    padding: 0px;
}
.header-main{
    min-height: 80px;
    position: absolute;
    width: 100%;
    z-index: 9;
    align-items: center;
    display: flex;
}

.navbar-light .navbar-toggler{
    color: rgba(8, 8, 8, 0.5);
   
}
.box-nav{
    background-color: #fff;
    border-radius: 50px;
    width: 1000px;
}

.navbar-toggler{
    padding: 0px;
    width: 31px;
}

.nav-link{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.header-main ul li{
    position: relative;
}

.header-main ul.nav ul {
    position: absolute;
    left: 0;
    top: -2000px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    width: 150px;
    transform: translate3d(0,-5px,0);
    transition: transform .3s ease-out;
    z-index: 9;
    border-radius: 0 0 5px 5px;
    padding: 0;
    box-shadow: 0 5px 30px rgb(0 0 0 / 16%);
}
.header-main ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: translate3d(0,0,0);
}
.header-main ul.nav ul li {
    padding: 8px 20px;
    list-style: none;
}
.header-main ul.nav ul li a {
    display: block;
    color: black;
    text-decoration: none;
}
.header-main ul.nav ul li a:hover{
    color: #683AB2!important;
}
li a:hover{
    color: #683AB2!important;
}

.navbar-brand{
    margin-right: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

/* Features section css */
.section-title.style--three {
    padding-left: 40px;
    margin-bottom: 53px;
}

.section-title.style--three .subtitle {
    top: 1px;
    letter-spacing: 3px;
}
.section-title .subtitle {
    font-size: 13px;
    text-transform: uppercase;
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    left: 10px;
    top: 44px;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    line-height: 1;
}

.section-title.style--three .subtitle2 {
    text-transform: uppercase;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
}
.section-title.style--three .subtitle2:after {
    width: 35px;
    height: 1px;
    right: -55px;
    position: absolute;
    top: 42%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
}
.subtitle2:after{
    background-color: #683AB2;
}
.section-title.style--three h2 {
    margin: 0;
}
.section-title {
    padding-left: 45px;
    position: relative;
    margin-bottom: 56px;
}
.section-title h2{
    font-size: 42px;
    font-weight: 700;
    line-height: calc(52 / 42);
    font-family: "Josefin Sans",sans-serif;
    color: #050505;
}
.section-title h3{
    line-height: calc(52 / 42);
    font-family: "Josefin Sans",sans-serif;
    color: #050505;
    font-size: 24px;
    font-weight: 600;
}
.btn.style1 {
    padding: 20px 34px;
}
.btn {
    font-size: 14px;
    text-transform: uppercase;
    z-index: 1;
    line-height: 1;
    border-radius: 50px;
    color: #fff;
    background-color: #683AB2;
}
.feature{
    padding: 70px 0;
    margin-top: 50px;
}
.pt-120{
    padding-top: 100px;
}
.pb-90{
    padding-bottom: 80px;
}
.image-box{
    margin-bottom: 30px;
    padding: 60px 15px 55px;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 5%);
    transition: .3s ease-in;
    border-radius: 25px;
}
.image-box .icon-text h3{
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700;
    line-height: calc(52 / 42);
    font-family: "Josefin Sans",sans-serif;
    color: #050505;
}
.image-box .icon-img i{
    font-size: 45px;

}
.image-box:hover{
    box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 20px 0px;
    transform: translateY(-10px);
}
.image-box:hover i{
    /* box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 20px 0px; */
    color: #683AB2;
    /* background: transparent; */
    
}

/* .image-box .icon-img i:hover{
    color: #f81781;
} */


/* footer */
.bg-img{
    background-image: url("../images/footer-bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.footer{
position: relative;
    z-index: 1;
    display: block;
}
.footer.style--two::after{
    background-image: url("../images/imageedit_5_5837209487.png");
}
.footer-main{
    padding: 80px 0 15px;
}
.footer:after {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    z-index: -1;
    /* background-image: url(../img/bg/footer-overlay.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .widget {
    margin-bottom: 60px;
    font-size: 18px;
}
.footer .widget .widget-title {
    margin-bottom: 23px;
    font-size: 24px;
}
h1, h2, h3, h4, h5, h6 {
   
    font-weight: 700;
    line-height: calc(52 / 42);
    font-family: "Josefin Sans",sans-serif;
    color: #0e0e0e;
}
.widget.widget_about p {
    margin-bottom: 27px;
}
.menu-container .menu{
    padding-left: 0;
}
.widget ul{
    list-style: none;
    padding-left: 0;
}
.widget ul i{
    margin-right: 10px;
    color: #683AB2;
}

.widget ul li a{
    color: black;
    text-decoration: none;
}
.widget-span{
    color: #683AB2;
}
.widget.widget_nav_menu ul li{
    margin-bottom: 10px;
}
.menu-container a{
    text-decoration: none;
    color: black;
}
.menu-container a:hover{
    color: brown;
}
.socials{
    display: flex;
    margin-top: 15px;
}
.socials a{
    margin-right: 10px;
}
.socials a i{
    letter-spacing: 5px;
}
.footer-bottom:after {
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    opacity: 1.7;
    position: absolute;
    content: "";
    background-color: #fff;
}
.footer.style--two .footer-bottom {
    padding: 26px 0 25px;
}
.footer-bottom {
     padding: 30px 0;
    position: relative;
    line-height: 1;
}
.footer-bottom-content>div:not(:last-child){
    position: relative;
    margin-right: 25px;
    padding-right: 25px;
}
.footer-bottom-content{
    display: flex;
    align-items: center;
}
.footer-logo img{
width: 120px;
}



.newsletter-form .theme-into-group{
    display: flex;
    overflow: hidden;
    border-radius: 50px;
    max-width: 540px;
    margin: 0 auto;
    
}
.form-control {
    border: none;
    height: 56px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px 25px;
   
}
.newsletter-form .theme-input-group .form-control {
    margin-bottom: 0;
    height: 60px;
}
.submit-btn i{
    color: #fff;
   

}
.style2{
    margin-left: -66px;
    overflow: hidden;
    z-index: 2;
    border-radius: 0px;
    font-size: 25px;
    padding: 0 24px;
}
  .style2:hover{
      background-color: black;
  }

.totop {
    background-color: #683AB2;
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 99;
}
.totop {
    background-color: #683AB2;
    color: #fff;
    display: inline-block;
    font-size: 21px;
    padding: 4px 16px;
    transition: 0.5s;
    border-radius: 50%;
    height: 44px;
    width: 44px;
}




/* pricing section */

.pricing-section{
    padding-top: 90px;
    padding-bottom: 90px;

}

.star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
    font-size: 13px;
}
.star-rating i{
    color: #f7db78;

}
.product-thumbnail img{
    width: 55px;
    height: 150px;
 
}
.single-product{
    position: relative;
}
.buttons{
    position: absolute;
    top: 61px;
    left: 0%;
    right: 0%;

}
.buttons .btn-circle i{
    background-color: black;
    color: whitesmoke;
    font-size: 18px;
    padding: 16px;
    border-radius: 50px;
    display: none;
   
}
.buttons .btn-circle i:hover{
    background-color: #683AB2;
    color: #fff;

}
.single-product .buttons{
    transition: .3s ease-in;
}
.single-product:hover{
    box-shadow: rgba(0, 0, 0, 0.13) 0px 3px 20px 0px;
    transform: translateY(-10px);
}
.single-product{
    padding: 35px;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 5%);
    transition: .3s ease-in;
    border-radius: 15px;
    margin-bottom: 30px;
}

.single-product:hover i{
    display: inline-block;
    transition: .3s;
}
.single-product .product-summary {
    margin-top: 45px;
}
.product-summary h4{
    
        font-size: 18px;

}



/* appointment-section */
.appointment-section{
    background-color: #daccf1ad;
    padding-top: 90px;
    padding-bottom: 70px;
}
.appoint-thumbnail-img img{
    width: 540px;
}
.appointment-form-wrap, .contact-form-wrap {
    padding: 44px 30px 45px;
}
.service-dates{
    margin-bottom: 40px;
}
.beautain-select{
    margin-bottom: 20px;
}
.input-group{
    margin-bottom: 20px;
}
/* specialist-section */
.members-section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.single-specialist {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 15%);
}
.single-specialist img{
    width: 100%;
    height: auto;
}
.single-specialist .content{
    position: absolute;
    left: auto;
    top: auto;
    right: 0;
    bottom: 0;
    width: 80%;
    background-color: #683AB2;
    padding: 28px 30px 26px;
    color: white;
    transform: translate(100%,100%);
    opacity: 0;
    transition: .5s ease-in;
}
    

.single-specialist.active .content, .single-specialist:hover .content {
    transform: translate(0,0);
    opacity: 1;
}
.single-specialist .content h3 {
    margin-bottom: 3px;
    font-size: 23px;
    color: white;
}

/* news card sections css */

.news-cards{
    padding-top: 70px;
    padding-bottom: 70px;
}
.card{
    margin-bottom: 35px;
    border-style: none;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 5%);
}
.thumbnails{
    position: relative;
}
.posted-on{
    position: absolute;
    top: 110px;
    left: 22px;
    /* bottom: 15px; */
    width: 50px;
    height: 50px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 1.19;
    letter-spacing: 1px;
}

.thumbnails .posted-on{
    border-radius: 50%;
    color: white;
    background-color: #683AB2;
    font-weight: 600;

}
.thumbnails .posted-on .day{
    display: block;
    font-size: 16px;
    letter-spacing: normal;
}
.thumbnails .posted-on a {
    display: block;
    text-align: center;
    text-decoration: none;
}
.posted{
    color: white;
}

/* pricing section */
.tab-btn{
    margin-bottom: 20px;
    box-shadow: 5px 5px 30px rgb(0 0 0 / 5%);
}
.pricing{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #daccf1ad;
}
.media{
    display: flex;
}
.single-price-content {
    padding: 18px 37px 20px;
    align-items: center;
}
.single-price-content .right-content .duration{
background-color: #683AB2;
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
}
.single-price-content .left-content {
    padding-right: 20px;
}
.media-body{
    flex: 1;
}
.single-price-content h4{
   margin-bottom: 10px;
   font-weight: 600;
   font-size: 18px;
}
.single-price-content p{
    max-width: 350px;
}
.price-tab-content .tab-pane img {
    width: 100%;
    height: auto;
}

/* more section */
.more-section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.about-left {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.about-left img{
    max-width: 100%;
    height: auto;
}
.about-right img{
   max-width: 100%;
}
.gallery-box{
    background-image: url("../images/backphoto.PNG");

}
.gallery-box .icon img{
    width: 25px;
}
.gallery-box {
    padding: 10px 26px;
    width: 192px;
    height: 196px;
    margin-top: -160px;
    position: relative;
}
.gallery-box .icon{
    margin-bottom: 25px;
}
.content-more h4{
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 15px;
    color: white;
}
.content-more i{
    color: white;
}
.bottom-shape{
    position: absolute;
    left: 0;
    top: auto;
    bottom: -1px;
    width: 100%;
    height: 110px;
}
.about-right{
    position: relative;
    z-index: 1;
    display: inline-block;
}
.about-right .video-btn{
position: absolute;
right: 0;
top: 50%;
transform: translate(38%,-50%);

}
.video-btn{
    background-color: #683AB2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
        width: 220px;
    height: 150px;
    border-radius: 10px;
    transition: .5s;
    text-decoration: none;
}
.video-btn i{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.client-section{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #daccf1ad;
}
.owl-stage{
    transform: translate3d(-1629px, 0px, 0px); 
    transition: all 0s ease 0s; 
    width: 3258px;
}
.testimonial-single .meta-info .thumb {
    margin-right: 15px;
    width: 95px;
    height: 95px;
}

.testimonial-single>img {
    margin-bottom: 23px;
    width: auto!important;
}

.client-section img{
    max-width: 100%;
    height: auto;
}

.svg-photo img{
    top: auto;
    position: absolute;
    height: 80px;
    z-index: 2;
    bottom: -1px;
    width: 100%;
    left: 0;
    right: 0;
}





/* ==========================
      Carousel css
============================= */
.banner-content h6{
    background-color: rgba(158, 23, 248, 0.1);
    padding: 9px 14px 5px;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 400;
    color: #683AB2;
}
.banner-content h1{
    margin-bottom: 18px;
    font-size: 55px;
}
.banner-content p {
    margin-bottom: 42px;
    font-size: 18px;
}
.banner-btn-group {
    
    display: flex;
    align-items: center;
}
.banner-btn-group .btn:not(:last-child) {
    margin-right: 12px;
}
.btn.btn-lg {
    padding: 20px 40px;
}
.btn span {
    position: relative;
    top: 2px;
}
.banner-btn-group .btn-black{
    background-color: black;
}
.slidings{
    position: relative;
}

    
    @media only screen and (max-width: 479px)
    {
    .banner-btn-group {
        
        flex-direction: column;
        align-items: flex-start;
    }
    .btn.btn-lg{
        margin-bottom: 13px;
    }  
}

@media only screen and (max-width: 370px){
   .banner-content h1{
font-size: 35px;
}
}
@media only screen and (max-width: 486px){
    .banner-content h1{
 font-size: 37px;
 }
 }

.banner-single-slide {
        background-color: transparent;
        background-color: #daccf1ad ;
        min-height: 100vh;
        padding: 180px 0 100px;
        min-height: calc(100vh - 50px);
        background-position: bottom center;
        display: flex;
        align-items: center;
        /* text-align: center; */
    }
    
.backg1-img{
    background-image: url("../images/SLIdr1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    
}
.backg2-img{
    background-image: url("../images/SLIDr2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.backg3-img{
    background-image: url("../images/SLIdr1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.contentinslider{
    position: absolute;
    top: 28%;
    left: 11%;
    max-width: 441px;
}
.contentinslider h1{
    margin-bottom: 20px;
}
.contentinslider p{
    margin-bottom: 42px;
    font-size: 18px;
}
.contentinslider h6{
    background-color: rgba(248,23,129,.1);
    padding: 9px 14px 5px;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 400;
    color: #683AB2;
}
/* .beautain-select{
    position: relative;
} */
.appointment-content .service-dates .input-group:after {
    position: absolute;
    content: "\f0dd";
    width: 50px;
    top: 0;
    right: 0;
    background-color: rgb(216 166 244 / 97%);
    bottom: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    line-height: 3;
    pointer-events: none;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    cursor: pointer

}
.appointment-content .beautain-date-select .input-group:after {
    content: "\f784";
}
.appointment-content .beautain-date-select .input-group:after {
    position: absolute;
    /* content: "\f107"; */
    top: 0;
    right: 0;
    width: 50px;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    pointer-events: none;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}